* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:burlywood;
}

button {
    cursor: pointer;
    border: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    border-radius: 5px;
}

title {
    font-size:medium;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size: 2em;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ya